//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 28 15:15:56 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P123" LEVEL 1;
COMP "SEVEN<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "SEVEN<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "slide<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "SEVEN<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "slide<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "SEVEN<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "slide<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "SEVEN<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "slide<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "SEVEN<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "slide<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "SEVEN<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "slide<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "slide<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "slide<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "speaker" LOCATE = SITE "P83" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "DIP<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "com<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "com<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "com<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "com<3>" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

