//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 10 03:10:20 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Button" LOCATE = SITE "P45" LEVEL 1;
PIN Button_pin<0> = BEL "Button" PINNAME PAD;
PIN "Button_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED0" LOCATE = SITE "P82" LEVEL 1;
COMP "LED1" LOCATE = SITE "P81" LEVEL 1;
COMP "LED2" LOCATE = SITE "P80" LEVEL 1;
COMP "LED3" LOCATE = SITE "P79" LEVEL 1;
COMP "LED4" LOCATE = SITE "P78" LEVEL 1;
COMP "LED5" LOCATE = SITE "P75" LEVEL 1;
COMP "LED6" LOCATE = SITE "P74" LEVEL 1;
COMP "LED7" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

