//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 15 18:24:11 2019
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P55" LEVEL 1;
COMP "Button" LOCATE = SITE "P45" LEVEL 1;
PIN Button_pin<0> = BEL "Button" PINNAME PAD;
PIN "Button_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "com<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "com<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "com<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "P" LOCATE = SITE "P26" LEVEL 1;
COMP "Clok" LOCATE = SITE "P123" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P58" LEVEL 1;
SCHEMATIC END;

