

NET "CLK_P45" LOC = P45;
NET "RESET_P46" LOC = P46;
NET "L_P80" LOC = P80;
NET "L_P81" LOC = P81;
NET "L_P82" LOC = P82;


NET "B_P40" LOC = P40;
NET "A_P41" LOC = P41;
NET "C_P35" LOC = P35;
NET "D_P34" LOC = P34;
NET "E_P32" LOC = P32;
NET "F_P29" LOC = P29;
NET "G_P27" LOC = P27;

# PlanAhead Generated physical constraints 

NET "C0_44" LOC = P44;
NET "C1_P43" LOC = P43;
NET "C2_P33" LOC = P33;
NET "C3_P30" LOC = P30;
