//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 09 15:15:34 2019
//! **************************************************************************

SCHEMATIC START;
COMP "D_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "S0_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "C1_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "S1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "A_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "B_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "C_P62" LOCATE = SITE "P62" LEVEL 1;
SCHEMATIC END;

